@tailwind base;

body {
    background: #333 url('/images/background.jpg');
    background-size: cover;
}
h1 {
    @apply text-5xl;
}
h2 {
    @apply text-4xl;
}
h3 {
    @apply text-3xl;
}

.quick-actions
{
    a{
        @apply bg-white inline-block text-sm px-4 py-2 leading-none border rounded text-orange-500 border-white mt-4;
        :hover {
            @apply text-blue-900;
        }
    }
}

form {
    &.default {
        @media (min-width:768px) {
            &.default {
                @apply w-1/2 mx-auto;
                > div {
                    @apply w-11/12 mx-auto;
                    > input {
                    }
                }
            }
        }
       .input-group {
           @apply w-full py-2;

           > div {
                > label {
                    @apply uppercase;
                    font-size:12px;

                }
               > input {
                   @apply w-full text-3xl bg-gray-100 p-2;
               }
           }
       }
    }
}

.submit-button
{
    @apply p-3 bg-blue-600 text-white ;
    :hover {
        @apply bg-blue-700;
    }
    &.large {
       @apply text-2xl;
    }
}

select {
    &.big-select {
        @apply bg-gray-300  p-3 text-2xl;
    }
}

#topbar {
    @apply bg-gray-900 text-white shadow-outline border-b-2 border-gray-800 py-2 px-2;
}

#header-menu {
    @apply flex items-center justify-between flex-wrap bg-gray-100 p-6;
    .logo {
        @apply flex items-center flex-shrink-0 text-gray-800 mr-6;
        .icon {
            @apply h-8 w-8 mr-2;
        }
        .text {
           @apply font-semibold text-xl tracking-tight;
        }
    },
    .menu-items {
        @apply text-sm;
        > a {
            @apply block mt-4 text-gray-800 mr-4;
            &:hover {
                @apply text-gray-900 underline;
            }
            @media (min-width:1024px) {
                display: inline-block;
                margin-top:0;
            }

        }
    }
}

#page {
    @apply p-5 min-h-screen w-full my-0 mx-auto
}

#menu div {
    @apply text-4xl text-gray-100 px-2
}
.bordered-table thead {
    @apply border-b border-gray-400
}

ol,ul {
    &.generic-list {
        @apply pl-6;
        >li {
            @apply text-2xl p-2;
            >div {
                @apply px-2
            }
        }
    }
}
ol {
    &.generic-list {
        @apply list-decimal;
    }
}
ul {
    .generic-list {
    }
}

.route-number {
    @apply bg-blue-600  text-white px-3;
    width:75px;
}

.footer-disclaimer {
    @apply text-sm p-3 bg-gray-900 text-white
}


.message-box {
   @apply border-l-8 border-gray-600 bg-gray-400 text-gray-900 p-5;
   &.alert {
        @apply bg-orange-300 border-orange-400 text-orange-900;
   }
   &.warning {
        @apply bg-red-300 border-red-400 text-red-900;
   }
}


.connectedSortable li {
    cursor: move;
}

